a:link{
color: blue;
}
a:hover{
    color: yellow;
}
a:visited{
    color:red;
}
a:active{
    color: green;
}
.para1{
    border: 2px solid red;
    padding: 70px;
}
.para2{
    margin: 70px;
    border: 2px solid blue;
}
#gmc{
    width: 100px;
    height: 50px;
}
.second-span{
    display: block;
}
ul{
    padding:0;
    margin: 0px;
    text-align:center;
}
li{
    display: inline;
    padding: 30px;
    font-size: 30px;
}